<div class="container">
    <div class="card-panel">
        <h5 class="center-align">Sign in</h5>
        <form action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_box</i>
                    <input type="email" id="txtEmail" class="validate">
                    <label for="txtEmail">Email</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input type="password" id="txtPassword" class="validate">
                    <label for="txtPassword">Password</label>
                </div>
            </div>
            <div class="right-align">
                
                <button type="button" class="waves-effect waves-light btn">Sign up</button>
                <button type="button" class="waves-effect waves-light btn">Sign in</button>
            </div>
        </form>
    </div>
</div>
